* {border: none;}

body {
	background-image: url("https://www.muralswallpaper.com/app/uploads/misty-valley-forests-plain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family:Georgia;
}

#wrapper {
	width:50%;
	margin: auto;
	background-color: rgba(32,60,58,.9);
	color:#e3e7eb;
	border-radius:2em;
	padding:1em 2em 2em 2em
}

#formwrapper {
	width: 90%;
	margin: auto;
}

label, p, legend, button, select {
	font-size: 1.2em;
	text-align: center;
	font-weight: 500;
	padding: .5em;
}

p {margin:0;}

label {
	display: block;
	text-align:left;
}

legend {
	text-align: left;
	font-weight: 700;
}

fieldset label {
	display: inline;
}

#name, #email, #number, textarea, select {
	border-radius: .35em;
	padding: .5em;
	width: 100%;
	border: none;
}

button {
	display: block;
	width: 100%;
	border-radius: .35em;
	padding: .5em;
	background-color:#1e653f;
	color:#e3e7eb;
	margin: .5em -2em 0 0;
}

button, input, select {
	font-family:inherit;
	font-size:inherit;
}

input {font-size:1em;}
.disabled {color:grey;}

h1 {
	text-align: center;
}

#fav-activities, #satisfaction {
	display:flex;
	flex-direction:column;
}
#fav-activities label, #satisfaction label {
	display:inline;
	position:relative;
	left:2.25em;
	top:.45em;
}
#fav-activities input, #satisfaction input {
	margin-bottom:-2.25em;
	position: relative;
	left:2em;
}

@media (max-width:800px){
	#wrapper {
		width:80%;
	}
}